@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  background: white;
  min-width: 100%;
  padding: 2.2vh 0vw 2.4vh 0;
  margin: 0;
}
header .logo {
  margin: 0 0 0.3vh 3vw;
  width: 10rem;
}
header .header-right, header .header-left {
  display: flex;
  align-items: center;
}

nav {
  display: none;
  opacity: 0;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 0;
  left: -60vw;
  height: 100vh;
  min-width: 67vw;
  box-shadow: 0px 0px 0vw 200vw rgba(0, 0, 0, 0.75);
  background-color: white;
  overflow: hidden;
  z-index: 1;
}
nav ul {
  font-size: 1.1rem;
  font-weight: 700;
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  margin-bottom: 2.8vh;
  margin-left: 7vw;
}
nav ul a {
  color: black;
  text-decoration: none;
}
nav .close-nav-btn {
  background-image: url("./images/icon-close.svg");
  width: 3.5vw;
  margin: 3vh 0 5.5vh 7vw;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  border-top: 1px solid rgb(229, 228, 228);
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: auto;
  max-height: 45vh;
  min-height: 35.5vh;
  max-width: 100vw;
  margin: 5.5vh 0 0 0;
  overflow: hidden;
}
.image-container img {
  width: 100%;
  height: 100%;
}

/*Text area*/
.brand-name {
  font-size: 0.8rem;
  letter-spacing: 0.07rem;
  font-weight: 700;
  text-align: left;
  color: hsl(26deg, 100%, 55%);
  margin: 2.5vh 0 0 6.5vw;
}

.product-title {
  font-size: 1.77rem;
  margin: 1vh 0 0 6.5vw;
  max-width: 89vw;
}

.product-desc {
  font-size: 0.95rem;
  line-height: 2.8vh;
  max-width: 87vw;
  margin: 1.5vh 0 0 6.5vw;
}

/*Price*/
.price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  padding: 1.6vh 0 0 0;
}
.price-container .price {
  font-size: 1.85rem;
  font-weight: 700;
  margin: 0 4.7vw 0 6.5vw;
}
.price-container .discount {
  color: hsl(26deg, 100%, 55%);
  font-weight: 700;
  background-color: hsl(25deg, 100%, 94%);
  padding: 1% 2% 1% 2%;
  border-radius: 0.3rem;
}
.price-container .old-price {
  font-size: 1rem;
  font-weight: 700;
  color: hsl(220deg, 14%, 75%);
  text-decoration: line-through;
  margin-right: 7vw;
}
.price-container .price-left {
  display: flex;
  align-items: center;
}

/*Add item section*/ 
.add-items-section {
  display: flex;
  flex-direction: column;
}
.add-items-section .qtty-container {
  display: flex;
  justify-content: space-between;
  align-self: center;
  min-width: 77%;
  padding: 1% 5% 1% 5%;
  border-radius: 0.6rem;
  margin: 1.4vh 0 0 0;
  background-color: hsl(223deg, 64%, 98%);
}
.add-items-section .qtty-container p {
  font-weight: 700;
}
.add-items-section .qtty-container .decrease-btn {
  background-size: 60%;
  background-image: url("./images/icon-minus.svg");
}
.add-items-section .qtty-container .increase-btn {
  background-size: 60%;
  background-image: url("./images/icon-plus.svg");
}
.add-items-section .add-cart-btn {
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  align-self: center;
  min-width: 87%;
  padding: 4.8%;
  margin: 1.6vh 0 4rem 0;
  border-radius: 0.6rem;
  background-color: hsl(26deg, 100%, 55%);
  color: hsl(0deg, 0%, 100%);
  aspect-ratio: auto;
}
.add-items-section .add-cart-btn img {
  height: 1rem;
  margin-right: 0.9rem;
  margin-left: -0.4rem;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(232deg) brightness(103%) contrast(101%);
}

/*Cart menu*/
.cart-menu {
  display: none;
  position: absolute;
  top: 8.5vh;
  left: 2vw;
  width: 96vw;
  height: auto;
  border-radius: 0.7rem;
  background-color: hsl(0deg, 0%, 100%);
}
.cart-menu h2 {
  font-size: 1rem;
  margin-left: 6vw;
  margin-top: 2.5vh;
}
.cart-menu .empty-text {
  text-align: center;
  font-weight: 700;
  color: hsl(219deg, 9%, 45%);
  margin: 20% 0 30% 0;
}
.cart-menu .cart-item {
  display: none;
  flex-direction: row;
  align-items: center;
  margin: 9.5% 0 0 2%;
  padding: 2% 5% 0 5%;
  font-size: 1.1rem;
  color: hsl(220deg, 14%, 75%);
}
.cart-menu .cart-item img {
  width: 12.5vw;
  border-radius: 5%;
}
.cart-menu .cart-item .product-info {
  width: 57vw;
  margin: 0 0 0 5.2%;
}
.cart-menu .cart-item .price-info {
  display: flex;
  flex-direction: row;
}
.cart-menu .cart-item .title {
  margin: 0 0 0.3rem 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}
.cart-menu .cart-item .price-calc {
  margin: 0 0.5rem 0 0;
}
.cart-menu .cart-item .final-price {
  color: black;
  font-weight: 700;
  margin: 0;
}
.cart-menu .checkout-btn {
  display: none;
  font-size: 1rem;
  font-weight: 700;
  min-width: 87%;
  height: 6.5vh;
  padding: 4.8%;
  margin: 3vh 0vw 3.5vh 6vw;
  border-radius: 0.6rem;
  background-color: hsl(26deg, 100%, 55%);
  color: hsl(0deg, 0%, 100%);
}

@media (min-width: 27em) {
  main {
    max-width: 90vw;
  }
  .image-container .prev-btn {
    left: 8%;
    padding: 5%;
  }
  .image-container .next-btn {
    right: 8%;
    padding: 5%;
  }
}
/*buttons*/
button {
  background: rgba(255, 255, 255, 0) no-repeat center;
  background-size: cover;
  width: 4.5vw;
  aspect-ratio: 1/1;
  margin: 0;
  padding: 0;
  border: 0;
}

button:hover {
  cursor: pointer;
}

.cart-btn {
  background-image: url("./images/icon-cart.svg");
  background-repeat: no-repeat;
}
.cart-btn .cart-text {
  display: none;
  margin: 0;
  padding: 0.04rem 0 0.04rem 0;
  width: 1.6rem;
  font-size: 0.7rem;
  font-weight: 700;
  color: white;
  background-color: hsl(26deg, 100%, 55%);
  border-radius: 40%;
  position: relative;
  top: -1vh;
  left: 2vw;
}

.nav-btn {
  background-image: url("./images/icon-menu.svg");
  margin-left: 6vw;
}

.profile-btn {
  background-image: url("./images/image-avatar.png");
  margin: 0 7vw 0 5vw;
}

.prev-btn {
  display: flex;
  align-items: center;
  background-image: url("./images/icon-previous.svg");
  padding: 5.5%;
  box-shadow: 0.3em 0.4em 0.5em rgba(29, 29, 29, 0.4901960784);
  background-color: white;
  background-size: 30%;
  border-radius: 100%;
  margin: 1rem;
  position: absolute;
  left: 1vw;
}

.next-btn {
  display: flex;
  align-items: center;
  background-image: url("./images/icon-next.svg");
  padding: 5.5%;
  box-shadow: 0.3em 0.4em 0.5em rgba(29, 29, 29, 0.4901960784);
  background-color: white;
  background-size: 30%;
  border-radius: 100%;
  margin: 1rem;
  position: absolute;
  right: 1vw;
}

.remove-btn {
  margin: 0vh 0vw 0 5.4vw;
  width: 1rem;
  height: 1.1rem;
  background-image: url("./images/icon-delete.svg");
}

body {
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
