/*buttons*/
button
    background: rgba(255, 255, 255, 0) no-repeat center
    background-size: cover

    width:5.6vw 
    aspect-ratio: 1 / 1

    margin: 0
    padding: 0
    border: 0
button:hover
    cursor: pointer
.cart-btn
         background-image: url("./images/icon-cart.svg")
         background-repeat: no-repeat 
         .cart-text
           display: none
           margin:0
           padding: .04rem 0 .04rem 0
           font-size: .7rem
           font-weight: 700

           color: white
           background-color: hsl(26, 100%, 55%)
           border-radius: 40%

           position: relative
           top: -1vh
           left: 2vw
.nav-btn
        background-image: url("./images/icon-menu.svg")
        width:4.5vw
        margin-left: 6vw
.profile-btn
    background-image: url("./images/image-avatar.png")
    margin: 0 7vw 0 5vw
.prev-btn
     display: flex
     align-items: center
     background-image: url("./images/icon-previous.svg")
     padding: 5.5%
     background-color: white
     background-size: 30% 
     border-radius: 100%
     margin: 1rem
.next-btn
     display: flex
     align-items: center
     background-image: url("./images/icon-next.svg")
     padding: 5.5%
     background-color: white
     background-size: 30% 
     border-radius: 100%
     margin: 1rem
.remove-btn
    margin: 0vh 0vw 0 5.4vw
    width: 1rem
    height: 1.1rem
    background-image: url("./images/icon-delete.svg")
