/*buttons*/
button
    background: rgba(255, 255, 255, 0) no-repeat center
    background-size: cover

    aspect-ratio: 1
    width:5.6vw

    margin: 0
    padding: 0
    border: 0
button:hover
    cursor: pointer
.cart-btn
         background-image: url("./images/icon-cart.svg")
         filter: invert(43%) sepia(16%) saturate(88%) hue-rotate(184deg) brightness(100%) contrast(93%)
.nav-btn
        background-image: url("./images/icon-menu.svg")
        width:4.5vw
        margin-left: 6vw
.profile-btn
    background-image: url("./images/image-avatar.png")
    margin: 0 7vw 0 5vw
.prev-btn
     display: flex
     align-items: center
     background-image: url("./images/icon-previous.svg")
     padding: 5.5%
     background-color: white
     background-size: 30% 
     border-radius: 100%
     margin: 1rem
.next-btn
     display: flex
     align-items: center
     background-image: url("./images/icon-next.svg")
     padding: 5.5%
     background-color: white
     background-size: 30% 
     border-radius: 100%
     margin: 1rem